.mytable
{
    width: 952px;
    font-size: .875rem !important;
    color: #525f7f;
}
.mytable thead th
{
    font-size: .65rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
    color: #8898aa;
    background-color: #f6f9fc;
}
.mytable th{
    padding-left: 1.5rem;
}
.mytable td{
    padding-left: 1.5rem;
}

#status {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    z-index: 100;
    top: 50%;
    background-image:url('/images/Preloader_2.gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    z-index: 1001
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1000
}

